<div class="max-w-screen-lg mx-auto px-4">
  <p class="text-lg text-white font-bold">
    Advent of Code 2021 solver built with Angular
  </p>
  <div class="block my-5">
    <select
      class="
        w-24
        border-0
        bg-gray-900
        text-white
        border-b-2 border-yellow-600
        focus:ring-0 focus:border-yellow-600
      "
      [(ngModel)]="selectedDay"
    >
      <option *ngFor="let day of currentSolvers">
        {{ day }}
      </option>
    </select>
    <label class="ml-4">
      <input
        class="text-yellow-600 focus:ring-yellow-600"
        type="radio"
        name="part"
        value="1"
        [(ngModel)]="selectedPart"
        (change)="
          solveStatus = undefined;
          testStatus = undefined;
          runningTime = undefined
        "
      />
      <span class="ml-2 text-white">Part 1</span>
    </label>
    <label class="ml-4">
      <input
        class="text-yellow-600 focus:ring-yellow-600"
        type="radio"
        name="part"
        value="2"
        [(ngModel)]="selectedPart"
        (change)="
          solveStatus = undefined;
          testStatus = undefined;
          runningTime = undefined
        "
      />
      <span class="ml-2 text-white">Part 2</span> </label
    >"
  </div>
  <div class="block">
    <button
      (click)="solve()"
      class="
        inline-flex
        items-center
        justify-around
        py-2
        px-3
        mt-4
        mr-4
        w-24
        bg-yellow-600
        text-white
        transition
        duration-200
        ease-in-out
        hover:bg-yellow-700
      "
      [disabled]="!selectedDay"
    >
      Solve
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 inline"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        *ngIf="solveStatus === undefined && !isSolving"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z"
        />
      </svg>
      <svg
        class="animate-spin h-4 w-4 text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        *ngIf="isSolving"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        *ngIf="solveStatus === Status.SOLVED && !isSolving"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        *ngIf="
          (solveStatus === Status.WRONG || solveStatus === Status.ERROR) &&
          !isSolving
        "
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </button>
    <button
      (click)="test()"
      class="
        inline-flex
        items-center
        justify-around
        py-2
        px-3
        mt-4
        mr-4
        w-24
        bg-yellow-600
        text-white
        transition
        duration-200
        ease-in-out
        hover:bg-yellow-700
      "
      [disabled]="!selectedDay"
    >
      Test
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        *ngIf="testStatus === undefined && !isTesting"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z"
        />
      </svg>
      <svg
        class="animate-spin h-4 w-4 text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        *ngIf="isTesting"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        *ngIf="testStatus === Status.SOLVED && !isTesting"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        *ngIf="
          (testStatus === Status.WRONG || testStatus === Status.ERROR) &&
          !isTesting
        "
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </button>
  </div>
  <div class="block" *ngIf="runningTime">
    <span class="text-white">Solver running time: </span>
    <span class="text-white">{{ runningTime | number: '1.0-3' }}</span>
  </div>
</div>
