@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: UbuntuMono;
    font-weight: 400;
    src: url('./assets/UbuntuMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: UbuntuMono;
    font-weight: 700;
    src: url('./assets/UbuntuMono-Bold.ttf') format('truetype');
}